<link rel= "stylesheet" type= "text/css" href='/static/overlay.css' />
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ carparkname }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="img-overlay-wrap">
  <img src="../../static/images/carpark/{{ carparkimage }}">
  <svg viewBox="0 0 800 800">
  {% for bays in carbays %}
    <polygon points="{{ bays['p1'] }} {{ bays['p2'] }} {{ bays['p3'] }} {{ bays['p4'] }}" fill="{{ bays['colour'] }}" fill-opacity="60%"/>
  {% endfor %}
  </svg>
</div>
{% endblock %}