<link rel= "stylesheet" type= "text/css" href='/static/overlay.css' />
<meta http-equiv="refresh" content="1" >
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ description }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<script type=text/javascript>
  $(function() {
    $('a#test').on('click', function(e) {
      e.preventDefault()
      let test = await $.getJSON('/redirect',
          function(data) {
             return data
      });
      console.log(test)
      http.onreadystatechange = function () {
        if (http.readyState === 4 && http.status === 200) {
            document.getElementById("json_field").innerHTML = http.responseText;
        }
      };
      return false;
    });
  });
</script>
<div class="img-overlay-wrap">
  <img src="../../static/images/carpark/{{ carparkimage }}">
  <svg viewBox="0 0 800 800">
  {% for bays in carbays %}
    <polygon points="{{ bays['p1'] }} {{ bays['p2'] }} {{ bays['p3'] }} {{ bays['p4'] }}" fill="{{ bays['colour'] }}" fill-opacity="60%"/>
  {% endfor %}
  </svg>
</div>
{% endblock %}