<link rel= "stylesheet" type= "text/css" href='/static/overlay.css' />
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Carpark{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('carpark.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="img-overlay-wrap">
  <img src="../../static/images/test.png">
  <svg viewBox="0 0 800 800">
  {% for bays in carbays %}
    <rect x="{{ bays['pos1'] }}" y="{{ bays['pos2'] }}" width="{{ bays['width'] }}" height="{{ bays['height'] }}" style="fill:{{ bays['colour'] }}" />
  {% endfor %}
  </svg>
</div>
{% endblock %}