html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 1650px; margin: 0 auto; background: white; }
h1 { font-family: monospace; size: 18; color: #274a62; margin: 1rem 0; }
a { color: #377ba8; }
nav { background: rgb(190, 190, 190); display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; size: 18;}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
.leftpanel {vertical-align: top;}
.lefttable {border: 1px solid;}
.small {
    font: 13px sans-serif;
  }