<link rel= "stylesheet" type= "text/css" href='/static/overlay.css' />

{% extends 'base.html' %}

{% block header %}
<h1><a href={{ url_for('carpark.carpark', carparkname=carparkname) }}>{% block title %}{{ description }}</a>{% endblock %}</h1>
{% endblock %}
{% block content %}
<form action="{{ url_for('analysis.analysis', carparkname=carparkname) }}" method="GET">
    <input type="date" name="start-date" value="{{startDate}}">
    <input type="date" name="end-date" value="{{endDate}}">
    <input type="time" name="start-time" min="00:00" max="24:00" value="{{startTime}}">
    <input type="time" name="end-time" min="00:00" max="24:00" value="{{endTime}}">
    <button type="submit" value="submit">Submit</button>
</form>
Entries calculated: {{valuesCalculated}}
<br>
{% if startDate is defined %}
From {{startDate}} to {{endDate}}
{% endif %}
<br>
{% if startTime is defined %}
{% if endTime is defined %}
Time of Day:{{startTime}} to {{endTime}}
{% endif %}
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div>
    <canvas id='myChart'></canvas>
</div>
<script type="text/javascript">
    const ctx = document.getElementById('myChart').getContext('2d');
    const data = {
        labels: {{dayBinLabels | tojson | safe}},
        datasets: [
          {
            label: 'Full Parking Bays',
            data: {{statusBins['BAYS_FULL']}},
            borderColor: 'rgba(233, 66, 66, 1)',
            backgroundColor: 'rgba(233, 6, 66, 1)',
            fill: true,
            tension: 0.1,
          },
          {
            label: 'Empty Parking Bays',
            data: {{statusBins['BAYS_EMPTY']}},
            borderColor: 'rgba(22, 233, 88, 1)',
            backgroundColor: 'rgba(22, 233, 88, 1)',
            fill: true,
            tension: 0.1,
          },
          {
            label: 'Unresponsive Parking Bays',
            data: {{statusBins['BAYS_UNKNOWN']}},
            borderColor: 'rgba(66, 66, 66, 1)',
            backgroundColor: 'rgba(66, 66, 66, 1)',
            fill: true,
            tension: 0.1,
          }
        ]
      };
    const myChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            plugins: {
                tooltip: {
                    mode: 'index'
                },
            },
            interaction: {
                mode: 'nearest',
                axis: 'x',
                intersect: false
            },
            scales: {
                x: {
                    title: {
                      display: true,
                      text: 'Day'
                    },
                },
                y: {
                    stacked: true,
                    title: {
                      display: true,
                      text: 'Number of Bays',
                    },
                    max: {{numberOfBays}},
                    beginAtZero: true
                },
            }
        }
    });
</script>

 
{% endblock %}