<link rel= "stylesheet" type= "text/css" href='/static/overlay.css' />
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ description }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<script type=text/javascript>
  $(function() {
    $( "#content" ).load( "ajax/test.html #new_content" );
    $('a#test').on('click', function(e) {
      e.preventDefault()
      let test = await $.getJSON('/redirect',
          function(data) {
             return data
      });
      console.log(test)
      http.onreadystatechange = function () {
        if (http.readyState === 4 && http.status === 200) {
            document.getElementById("json_field").innerHTML = http.responseText;
        }
      };
      return false;
    });
  });
</script>
<div class="img-overlay-wrap">
  <img src="../../static/images/carpark/{{ carparkimage }}">
  <div id="svg_content">
    {% include "carpark/svg_content.html" %}
  </div>
<script>
  $(function refresh() {
    const svg_content_url = {{ url_for("carpark.svg_content")|tojson }}
    const svg_content_div = getElementById("svg_content")
    fetch(svg_content)
        .then(response => response.text)
        .then(text => svg_content_div.innerHtml = text)
    console.log("hello")
    setTimeout(refresh(), 1000);
  }
</script>
</div>
{% endblock %}