<link rel= "stylesheet" type= "text/css" href='/static/overlay.css' />
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ description }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script type="text/javascript">
   $("document").ready(function(){
       $(".bay").on("click", 
       function(e){
       console.log(e.target['id'])
       document.querySelector('#element').innerHTML = "Parking Bay: "+e.target['id']+", Status: "+e.target['status']
      });
   });
</script>
<div>
  <ol>
    <li>Free:{{ empty }}</li>
    <li>Taken:{{ full }}</li>
    <li>Unknown:{{ non_responding }}</li>
  </ol>
</div>
<div class="img-overlay-wrap">
  <img src="../../static/images/carpark/{{ carparkimage }}">
  <div id="svg_content">
    <svg viewBox="0 0 {{ dimensions[0] }} {{ dimensions[1] }}">
      {% for bays in carbays %}
        <polygon id={{ bays['id'] }} class="bay" points="{{ bays['p1'] }} {{ bays['p2'] }} {{ bays['p3'] }} {{ bays['p4'] }}" fill="{{ bays['colour'] }}" fill-opacity="60%" status="{{ bays['status'] }}"/>
        <text x="{{bays['centerx']}}" y="{{bays['centery']}}" class="small">{{bays['id']}}</text>
      {% endfor %}
  </svg>
  </div>
  <div>
    <br>
    <span id="element"></span>
  </div>
</div>
{% endblock %}