<link rel= "stylesheet" type= "text/css" href='/static/overlay.css' />
{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/redirect',
                function(data) {
                   // 
            });
            window.location.replace("/"+e.target['id'])
            return false;
          });
        });
</script>


<div class="img-overlay-wrap">
    <a href=# id=test2><img  id="map" src="../../static/images/cut2.png"></a>
   <!---<svg>   viewBox="0 0 800 800"> -->
    <svg viewBox="0 0 992 1576">
        {% for carpark in carparks %}
        <a href=# id=test><polygon id="{{carpark['carparkname']}}" points="{{ carpark['points'] }}" fill="lightgreen" fill-opacity="30%"/></a>
        {% endfor %}
    </svg>
</div>

{% endblock %}